<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="header" th:fragment="headerFragment">
    <div class="nav">
        <h1 class="logo">LOGO</h1>
        <div class="gnb">
            <ul>
                <li><a th:href="@{/open/weather}">날씨API</a></li>
                <li><a th:href="@{/open/movie}">영화API</a></li>
                <li><a th:href="@{/open/bus}">버스API</a></li>
                <li><a th:href="@{/api/open/weather}">날씨API(Java)</a></li>
                <li><a th:href="@{/api/open/movie}">영화API(Java)</a></li>
                <li><a th:href="@{/api/open/bus}">버스API(Java)</a></li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>